<h3>Contact Me</h3>
<div class="contact">
	<a class="contact__icon" href="mailto:michael@ouellette.dev" title="Contact Michael Ouellette via E-Mail">
		<i class="mdi mdi-email"></i>
	</a>
	<a class="contact__icon" target="_blank" rel="me" href="https://www.linkedin.com/in/michaelouellette/" title="Contact Michael Ouellette via LinkedIn">
		<i class="mdi mdi-linkedin"></i>
	</a>
	<a class="contact__icon" target="_blank" rel="me" href="https://bsky.app/profile/michael.ouellette.dev" title="Contact Michael Ouellette via BlueSky">
		<i class="mdi mdi-at"></i>
	</a>
	<a class="contact__icon" href="tel:412-467-6016" title="Contact Michael Ouellette via Phone">
		<i class="mdi mdi-phone"></i>
	</a>
</div>
